body {
    background-color: pink;
}

.btn {
    cursor: pointer;
}

body {
    color: darkslateblue;
}

.clicked {
    color: darkolivegreen;
}

.form{
    display: none;
}

.showing {
    display: block;
}